body{
    background-color: rgb(34, 34, 34 );
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1200px ;/*largura máxima do site*/
    padding: 15px;/*espaçamento do conteudo até aborda*/
}

header{
    display: flex;/*deixa os elementos lado a lado */
    justify-content: space-between;/*ele da um espaçamento no elemento a ser estilizado*/
    align-items: center; /*centraliza os itens*/
}

.title{
    line-height: 10px;/*espaçamento entre a linha*/
    flex-direction: column;/*dar um espaço para trabalhar com o menu*/
}

li{
    display: inline-flex;/*deixar em linha, ao lado*/
    margin: 20px;
}

a{
    color: white;
}

a:hover{/*hover=chama a animação*/
    color: rgb(132,  14, 201);
    transition: 0.3s all;/*transition=tipo animação, all=suaviza o efeito do menu quando o mouse é passado por cima*/
}


