*{
   margin: 0; 
   padding: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(178, 147, 107);
}

header h1{
    font-size: 70px;
    color: black;
    justify-content: space-between;
    padding: 20px 0 0 20px;
    letter-spacing: -3px;
}

header{
    margin: 20px 0 20px 0;
    display: flex;
    background-color: rgb(144, 116, 81);
}

#menu{
    display: flex;
    
}

li{
    padding-left: 20px;
    list-style: none;
}

ul{
    padding: 50px;
    padding-left:600px ;
}

ul a{
    text-decoration: none;
    color: white;
  
}

#aqui{
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
     
}

#aqui :hover{
    background-color: white;
    color: white;

}

a:hover{/*hover=chama a animação*/
    color:yellow;
    transition: 0.3s all;
}

header h1{
    color: white;
}
span{
    color: rgb(12, 10, 8);
   letter-spacing: -2px;
   font-size: 40px;
 }

 main{
    display: flex;
    align-items: center;
}

main img{
  padding: 0 70px 0 ;
  width: 900px;
  height: 900px;
}

.texto{ text-align:center ;
}

.texto h2{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto p{
    font-size:25px ;
    padding-top:20px ;   
}
 button{
    margin-top:30px ;
    border: 2px solid rgb(145, 99, 38);
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(145, 99, 38);
 }
 

 button a{
    text-decoration: none;
    color: white;
    list-style: none;
 }

 footer{
    background-color: rgb(144, 116, 81);
    margin-top: 80px;
 }
 footer h1{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
 }

 footer li img{
    display: flex;
    width: 50px;
    text-align: center;
   
 }

 #img{
    display: inline-flex;
   
 }

 .insta{
    width: 80px;
 }
    





